{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Recompensa</title>
    <link rel="stylesheet" href="{% static 'rewards/css/rewards_styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>¿Estás seguro que deseas eliminar "{{ reward.name }}"?</h2>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Sí, eliminar</button>
            <a href="{% url 'reward_list' %}" class="cancel-button">Cancelar</a>
        </form>
    </div>
</body>
</html>
