<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Código QR</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'qr_codes/css/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'reward_list' %}">Gestionar Recompensas</a></li>
            <li><a href="{% url 'question_list' %}">Gestionar Preguntas</a></li>
            <li><a href="{% url 'generate_qr' %}">EcoPuntos</a></li>
            <li><a href="{% url 'event_list' %}">Calendario de Eventos</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Tu Código QR</h1>
        <img src="{{ MEDIA_URL }}{{ qr_code_path }}" alt="Código QR">
        <p>¡Has ganado {{ points }} puntos!</p>
        <a href="{% url 'generate_qr' %}">Generar otro código QR</a>
    </div>
</body>
</html>
